body {
    position: relative;
    height: 100vh;
    margin: 0;
    background-color: #000; /* Black background */
}

form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #000; /* Black background */
    border-radius: 0; /* Sharp edges */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px; /* Limit form width */
    width: calc(100% - 40px); /* Occupy available space */
}

label {
    color: #0f0; /* Green text */
}

input[type="text"], select {
    width: calc(100% - 20px); /* Subtract padding */
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #0f0; /* Green border */
    border-radius: 0; /* Sharp edges */
    background-color: #000; /* Black background */
    color: #0f0; /* Green text */
}

button {
    padding: 10px 20px;
    background-color: #000; /* Black background */
    color: #0f0; /* Green text */
    border: 1px solid #0f0; /* Green border */
    border-radius: 0; /* Sharp edges */
    cursor: pointer;
}

button:hover {
    background-color: #0f0; /* Green background on hover */
    color: #000; /* Black text on hover */
}





h1 {
    text-align: center;
    color: #00b5c2; /* Text color changed to white for better visibility */
}

#mediaType, #videoNumber, #season, #episode {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}


#tvOptions {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#videoPlayer {
    width: 60%; /* Adjusted to 60% for a more average size */
    max-width: 800px; /* Set a maximum width to prevent it from getting too large */
    height: 60vh; /* Adjusted to 60% of the viewport height */
    position: relative;
    overflow: hidden;
    margin-top: 20px; /* Added margin to the top for spacing */
}

#videoPlayer iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
